.parecer {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border: 1px solid #000;
  width: fit-content;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.parecer p {
  color: #000;
  font-size: medium;
}

.responsavel {
  color: #000;
  font-size: larger;
}
